.bg{
    background:url('../images/ele3.jpg') ;
    background-size:cover;
     
}
form{
    padding: 60px 40px;
    margin-bottom: 100px;
    margin-left: 450px;
}
input[type="text"]{
     height: 46px;
     width: 178px;
}
input[type="text"]{
    margin-top: 10px;
    width: 545px;
    height: 46px;
}
input[type="email"][name="email"]{
    margin-top: 10px;
    width: 545px;
    height: 46px;  
}
input[type="tel"]{
    margin-top: 10px;
    width: 545px;
    height: 46px;
}
select{
    margin-top: 10px;
    width: 270px;
    height: 46px;
}
input[type="number"]{
    margin-top: 10px;
    width: 545px;
    height: 46px;
}
input[type= "date"][name="dateOfConnection"]{
    margin-top: 10px;
    width: 545px;
    height: 46px; 
}
input[type="text"][name="address1"]{
    margin-top: 10px;
    width: 545px;
    height: 46px;
}
input[type="text"][name="address2"]{
    margin-top: 10px;
    width: 545px;
    height: 46px;
}
input[type="text"][name="city"]{
    margin-top: 10px;
    width: 545px;
    height: 46px;
}
input[type="text"][name="zip"]{
    margin-top: 10px;
    width: 545px;
    height: 46px;
}
input[type="password"][name="password"]{
    margin-top: 10px;
    width: 545px;
    height: 46px;
}
input[type="password"][name="cnfPassword"]{
    margin-top: 10px;
    width: 545px;
    height: 46px;
}
button[type="submit"]{
    margin-top: 10px;
    width: 100px;
    height: 46px;
    margin-left: 150px;
}
button[type="reset"]{
    margin-top: 10px;
    width: 100px;
    height: 46px;
}